.alert {
  display: flex;
  direction: row;
  align-items: center;
  border-radius: 10px;
  margin: 15px 0;

  .icon {
    font-size: 20px;
    padding: 10px 15px;
  }

  .content {
    padding: 10px 0;
    font-size: 11px;
    font-weight: 500;
  }

  .close {
    padding: 10px 15px;
    cursor: pointer;
  }

  &.warning {
    background: #fff3e8;
    color: #ff9f43;
  }

  &.danger {
    background: #fceaea;
    color: #ea5455;
  }
}

@media only screen and (max-width: 768px) {
  .alert {
    margin: 10px 0;
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .alert {
    .icon {
      font-size: 15px;
      padding: 5px 10px;
    }

    .content {
      padding: 5x 0;
      font-size: 9px;
    }

    .close {
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}
