.ant-form-item {
  width: 100%;

  .ant-form-item-label {
    padding-bottom: 4px;

    label {
      font-size: 12px;
      color: #5e5873;

      &.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
        content: none;
      }
    }
  }

  .ant-form-item-explain-error {
    font-size: 12px;
    color: #ea5455;
  }
}

.ant-divider {
  margin: 30px -30px 40px -30px;
  width: 115%;
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .ant-form-item {
    margin-bottom: 15px;

    .ant-form-item-label {
      label {
        font-size: 9px;
      }
    }

    .ant-form-item-explain-error {
      font-size: 9px;
    }
  }
}
